# ======================
# Project
# ======================
PROJECT_NAME=AeroMind
ENVIRONMENT=development

# ======================
# Server
# ======================
HOST=your_host_here
PORT=your_port_here
DEBUG=True

# ======================
# Security
# ======================
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# ======================
# Database (Neon)
# ======================
DATABASE_URL=postgresql://neondb_owner:<password>@ep-xxxxx-pooler.region.aws.neon.tech/neondb?sslmode=require
DIRECT_URL=postgresql://neondb_owner:<password>@ep-xxxxx.region.aws.neon.tech/neondb?sslmode=require

# ======================
# Redis (Upstash)
# ======================
REDIS_URL=redis://default:<password>@<upstash-host>:<port>

# ======================
# CORS
# ======================
# Since multiple mobile apps will connect, we can allow all in development
# In production, restrict properly
BACKEND_CORS_ORIGINS=["*"]

# ======================
# Email (SMTP)
# ======================
MAIL_USERNAME=your_email_username_here
MAIL_PASSWORD=your-titan-mailbox-password
MAIL_FROM=your_email_from_address
MAIL_FROM_NAME=your_email_from_name
MAIL_SERVER=smtp.titan.email
MAIL_PORT=587
# use 465 for SSL and 587 for TLS

# ======================
# AI Keys
# ======================
GROQ_API_KEY=your_groq_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
GROK_API_KEY=your_grok_api_key_here

# ======================
# Admin
# ======================
ADMIN_EMAIL=your_admin_email_here