/data/raw/images/train/*
!/data/raw/images/train/.gitkeep
/data/raw/images/val/*
!/data/raw/images/val/.gitkeep
/data/raw/annotations/*.json
.venv/
__pycache__/
*.py[cod]

/artifacts/*
!/artifacts/.gitkeep
*.onnx
*.pth
*.pt